{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'explorer/style.css' %}">

<h1>{{ department.department_name }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<h3>Headed by {{ department.departmenthead.headed_by }}</h3>

{% if department.course_set.all %}
    <ul>
    {% for course in department.course_set.all %}
        <li><a href="{% url 'explorer:Course View' course.id %}">{{ course.course_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No courses in this school! Ridiculous!</p>
{% endif %}
